/* Blank CSS File */
.manual-tooltip {
    
    position: fixed;
    z-index: 100;
    border: 1px solid silver;
    border-radius: 5px;
    background-color: #eee;
    font-size: 12px;
    width: 120px;
    padding: 5px;
    
}

#annotation {
    
    position: absolute;
    z-index: 100;
    border: 1px solid silver;
    border-radius: 5px;
    background-color: #eee;
    width: 200px;
    top: 280px;
    left: 175px;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
    box-shadow: 2px 1px 5px #888;
}

#chart-area {
    
    width: 1400px;
    height: 700px;
    position: relative;
}

.header-container {
    
    font-family: 'Open Sans', sans-serif;
    width: 70%;
    
}

h1, h4 {
    
    margin: 0;
    
}

.indent {
    
    margin-left: 5%;
    
}

.source-container {
    
    font-size: 12px;
    margin-top: 20px;
    
}

.button-container {
    
    margin-top: 30px;
    display: inline-block;
    vertical-align: top;
}

button {
    
    cursor: not-allowed;
    font-size: 14px;
    margin-right: 20px;
    width: 200px;
    
}

.legend-container {
    
    display: inline-block;
    border-left: 1px solid black;
    margin-left: 80px;
    
}

.legend {
    
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 80px;
    
}

.legend li {
    
    margin-bottom: 5px;
    
}

.legend-block {
    
    height: 15px;
    width: 30px;
    float: right;
    margin-left: 20px;
    margin-top: 1px;
    border: 1px solid gray;
}

.excellent {
    
    background-color: rgb(107, 148, 176);
    
}

.good {
    
    background-color: rgb(149, 185, 87);
    
}

.average {
    
    background-color: rgb(211, 150, 81);
    
}

.subprime {
    
    background-color: rgb(210, 107, 95);
    
}

#chart-area-cover {
    
    position: absolute;
    width: 1400px;
    background-color: white;
    top: 0;
    left; 0;
    z-index: 101;
    border: 3px dashed #777;
    height: 600px;
    margin-top: 50px;
    text-align: center;
    cursor: pointer;
}

#chart-area-cover:hover {
    
    background-color: #eee;
    
}

.play-story {
    
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    width: 100%;
    top: 50%;
    font-size: 32px;
    text-transform: uppercase;
    
}

.play-button {
    
    background-image: url(../img/btnPlay.png);
    height: 48px;
    width: 48px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    
}

